.message{
    position: inherit;
    width:70%;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.senttext{
    padding-left: 2%;
    position: inherit;
    transform: translateY(30%);  
}
.messageBox{
    background:rgba(165, 155, 155, 0.37);
    width:70%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    text-overflow: ellipsis;
}
.pr{
  padding-right: 2%;
}
.justifyEnd{
    position:relative;
    left:27%;
}

.msgtext{
  padding:10px;
  overflow-wrap: break-word;
}
::-webkit-scrollbar {
    width: 7px;
    padding-right: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    position:absolute;
    margin-top: 2em;
    margin-bottom: 2em;
    background:none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: none;
    position: absolute;
    border-radius: 1em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media only screen and (min-width:768px){
    
  }
  
  @media only screen and (min-width:976px){
  
  }